* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: sans-serif;
}
#entire-section {
  position: relative;
  background: linear-gradient(to right, #536976, #292e49);
  height: 100vh;
  width: 100vw;
}
.todo-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 0 0 3px #1864ab;
  border-radius: 8px;
}
